<%- include('./partials/header.ejs')%>
    <div id="paragraph-div">
        <%if(connections.length) {%>
            <%connections.forEach(connection=>{%>
                <%if(connection.topic === 'Auction'){%> 
        <h1 id="trading">Vehicle Auction</h1>
        <a href="/connections/<%= connection._id%>">
        <h2><%= connection.name%>, <%= connection.location%>, <%= connection.date%>, <%= connection.startTime%> to <%= connection.endTime%></h2>
        </a>
                <%} else if(connection.topic === 'Offroad Race'){%>
        <h1 id="races">Offroad Race</h1>
        <a href="/connections/<%= connection._id%>">
            <h2><%= connection.name%>, <%= connection.location%>, <%= connection.date%>, <%= connection.startTime%> to <%= connection.endTime%></h2>
        </a>
        <%}%>
       
        <%});
    } else {%>
        <h1 id="trading">There are no events to display</h1>
        <%}%>
    </div>
<%- include('./partials/footer.ejs')%>


